//Colors
$background: #383838;//#fafaf1;
$public_background: #fff;
$text: #fff; 

$main_color: #282828; //#00a79d; //#87cdac;
$main_dark: #252525; // #212121; //#49c1b8;
$main_light: #313131; //#def0e5; 

// $nav_main
$menu_dark: #292929; //#343434; //87cdac; 
$menu_light: #464646; //#e0e0e0; //#def0e5;


// $contrast_main
$contrast_dark: #02706f; //darkred;//#ff5a5a; //ff4040; //E30B5D; ff5a5a
$contrast_light: #00a79d; //#f78589; //#f8ccb0; //red;//#ff7474; //#f41469; //ff5a5a; //f41469;

$white: #fff;
$error: #fb4d3b;
$grey_border: #4d4d4d; 
$orange_dark: #f24409;
$orange_light: #fc5319;

$dark_grey: #515151;
$darker_grey: #454545;
$darkish_grey: #818181;
$light_orange: #d06947;

// $background 


// $menu_light 02706f 