/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
@media only screen and (max-width: 480px) {
  .flexslider--tom {
    // display: none;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .flexslider--tom {
    // display: none;
  }
}

@media only screen and (min-width: 768px) {
  .flexslider--tom {
    display: normal;
  }
}

/* Browser Resets
*********************************/
/* line 29, C:/webroot/lcsnbn/sass/modules/flexslider */

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none;
}

/* line 32, C:/webroot/lcsnbn/sass/modules/flexslider */

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format("embedded-opentype"), url('fonts/flexslider-icon.woff') format("woff"), url('fonts/flexslider-icon.ttf') format("truetype"), url('fonts/flexslider-icon.svg#flexslider-icon') format("svg");
  font-weight: normal;
  font-style: normal;
}


/* FlexSlider Necessary Styles
*********************************/
/* line 50, C:/webroot/lcsnbn/sass/modules/flexslider */

.flexslider {
  margin: 0;
  padding: 0;
  .slides {
    > li {
      // display: none;
      -webkit-backface-visibility: hidden;
      overflow: hidden;
    }
    img {
      width: 100%;
      display: block;
    }
  }
}

/* line 51, C:/webroot/lcsnbn/sass/modules/flexslider */

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 52, C:/webroot/lcsnbn/sass/modules/flexslider */

/* line 53, C:/webroot/lcsnbn/sass/modules/flexslider */

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 56, C:/webroot/lcsnbn/sass/modules/flexslider */

.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 57, C:/webroot/lcsnbn/sass/modules/flexslider */

html[xmlns] .slides {
  display: block;
}

/* line 58, C:/webroot/lcsnbn/sass/modules/flexslider */

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 63, C:/webroot/lcsnbn/sass/modules/flexslider */

.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
/* line 67, C:/webroot/lcsnbn/sass/modules/flexslider */

.flexslider {
  margin: 0 0.625rem 2rem;
  background: #fff;
  position: relative;
  zoom: 1;
}

/* line 68, C:/webroot/lcsnbn/sass/modules/flexslider */

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 69, C:/webroot/lcsnbn/sass/modules/flexslider */

.loading .flex-viewport {
  max-height: 300px;
}

/* line 70, C:/webroot/lcsnbn/sass/modules/flexslider */

.flexslider .slides {
  zoom: 1;
  height: 100%;
}

/* line 71, C:/webroot/lcsnbn/sass/modules/flexslider */

.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
/* line 74, C:/webroot/lcsnbn/sass/modules/flexslider */

.flex-direction-nav {
  *height: 0;
  a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .flex-prev {
    left: 0;
  }
  .flex-next {
    right: 0;
    text-align: right;
  }
}

/* line 75, C:/webroot/lcsnbn/sass/modules/flexslider */

/* line 76, C:/webroot/lcsnbn/sass/modules/flexslider */

/* line 77, C:/webroot/lcsnbn/sass/modules/flexslider */

/* line 78, C:/webroot/lcsnbn/sass/modules/flexslider */

.flexslider:hover {
  .flex-prev {
    opacity: 0.7;
    left: 10px;
  }
  .flex-next {
    opacity: 0.7;
    right: 10px;
    &:hover {
      opacity: 1;
    }
  }
  .flex-prev:hover {
    opacity: 1;
  }
}

/* line 79, C:/webroot/lcsnbn/sass/modules/flexslider */

/* line 80, C:/webroot/lcsnbn/sass/modules/flexslider */

/* line 81, C:/webroot/lcsnbn/sass/modules/flexslider */

.flex-direction-nav {
  .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity = 0);
    cursor: default;
  }
  a {
    &:before {
      font-family: "flexslider-icon";
      font-size: 40px;
      line-height: 1;
      display: inline-block;
      content: '\f001';
    }
    &.flex-next:before {
      content: '\f002';
    }
  }
}

/* line 82, C:/webroot/lcsnbn/sass/modules/flexslider */

/* line 83, C:/webroot/lcsnbn/sass/modules/flexslider */

/* Pause/Play */
/* line 86, C:/webroot/lcsnbn/sass/modules/flexslider */

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
  &:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f004';
  }
  &:hover {
    opacity: 1;
  }
  &.flex-play:before {
    content: '\f003';
  }
}

/* line 87, C:/webroot/lcsnbn/sass/modules/flexslider */

/* line 88, C:/webroot/lcsnbn/sass/modules/flexslider */

/* line 89, C:/webroot/lcsnbn/sass/modules/flexslider */

/* Control Nav */
/* line 92, C:/webroot/lcsnbn/sass/modules/flexslider */

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
  li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}

/* line 93, C:/webroot/lcsnbn/sass/modules/flexslider */

/* line 94, C:/webroot/lcsnbn/sass/modules/flexslider */

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  &:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
  }
  &.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
  }
}

/* line 95, C:/webroot/lcsnbn/sass/modules/flexslider */

/* line 96, C:/webroot/lcsnbn/sass/modules/flexslider */

/* line 98, C:/webroot/lcsnbn/sass/modules/flexslider */

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
  li {
    width: 25%;
    float: left;
    margin: 0;
  }
  img {
    width: 100%;
    display: block;
    opacity: 0.7;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  .flex-active {
    opacity: 1;
    cursor: default;
  }
}

#wrap { width: 600px; height: 390px; padding: 0; overflow: hidden; }
#frame { width: 800px; height: 520px; border: 1px solid black; }
#frame { 
        /* transform: scale(1.7); */
    width: 100%;
    height: 43rem;
    /* margin: 140px 100px; */
    /* margin-bottom: 20rem; */
    overflow: visible;
}

#logo-div{
    display: none;
}