/*//////////// HEADER SECTION */
/*Header */

.header {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.5rem;
    z-index: 4;
    line-height: 2.5rem;
    padding-left: 28%;
    @media #{$medium-up}{
        padding-left: 6rem;
    }
}

.admin_header {
    overflow: hidden;
    background-color: $background;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.5rem;
    z-index: 4;
    line-height: 2.5rem;
    padding-left: 7.5rem;
}

.header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    
    text-decoration: none;
    font-size: 1.7rem; 
    text-shadow: 2px 2px 4px #000;
}

// .header a.logo__image{
//     background-color: none;
// }

.header .link{
    padding: 0.5rem 1rem;
}

.header .link:hover{
    background-color:#000;
}


.band.header.home{
  background: transparent;
}

.phone_icon{
    width: 4.5rem;
}

 
// @media only screen and (min-width:768px) {
//   .header {
//     text-align: center; 
//     /*background: url(/images/paws/mborder.png) no-repeat 0 0; */
//   }  
// }

// @media only screen and (min-width:961px) {
//     .header {
//       text-align: center; 
//       /*background: url(/images/paws/lborder.png) no-repeat 0 0;  */
//     } 
// }

// @media only screen and (min-width:1351px) {
//     .header {
//       text-align: center; 
//       /*background: url(/images/paws/xlborder.png) no-repeat 0 0; */
//     } 
// }
 






.logo__text {
    font-size: 1rem; 
    color: #fff;
    // font-family: $headings;
    font-weight: bold; 
    margin: 0px;
    text-align: center; 
    line-height:2.5rem;
    font-size: 1.3rem;
}



.logo__image {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    width: 10rem;
    color: #fff;
    height: 4rem;
    background: url(/images/site/wlogo.png) no-repeat 0 0;
    background-size: contain; }
@media #{$medium-up}{
    right: 3rem;
}
@media only screen and (min-width:768px) {
.logo__image {
bottom: -0.77rem;
} }

@media only screen and (max-width: 480px) {
  .menu__image {
    display: none; } }

@media only screen and (min-width:481px) {
  .menu__image {
    position: absolute;
    top: 1.75rem;
    right: 5rem;
    width: 5.5rem;
    color: #fff;
    height: 4rem;
    /*background: url(/images/site/menu.png) no-repeat 0 0;*/
    background-size: contain; } }
@media only screen and (min-width:768px) {
  .menu__image {
    top: 1.75rem;
    } }

.plain__header__link{
    font-size: 20px;
    color: #fff;
    margin-top: 0.3rem;
    float: left;
    // margin-left: 1rem;     
    font-size: 20px; 
    color: #fff;
    padding: 0.4rem;
    padding-top: 3px;
    @media #{$medium-up}{
    margin-left: 1.5rem;
    }
    @media #{$large-up}{
    margin-left: 2rem;
    }

}

.plain__header__link:hover{
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.content__title--main{
    margin: 0.2rem;
        // background-color: black;  
    // margin-top:1.7rem;
    position: absolute;
    right: 12rem;
    /*margin: 0.5rem 0;*/
    /*font-family: $headings;*/
    @media #{$medium-up}{
    left: 1rem;
    }
    @media #{$large-up}{ 
    left: 2rem;
    }
    @media #{$xlarge-up}{ 
    left: 3rem;
    }
}

.content__title--main--second{
    @media #{$small-only}{
        display:none;
    }
    @media #{$medium-up}{
        left: 8rem;
    }
}

.subnav {
    /*border-bottom: 1px solid $main_color;*/
    // font-family: headings;
    // background-color: $main_color;;
    padding-top: 1.3rem;
    /* padding-bottom: 0.4rem; */
    /* height: 5rem; */
    /* position: fixed; */
    width: 100%;
    z-index: 1;
}
  @media only screen and (min-width:481px) {
    .subnav {
      text-align: left; 
    } 
  }

.subnav__sub{
    border-bottom: 3px solid $main_dark;
    background-color: $main_color;
    height: 6rem;
}
