/*///////////// Content section*/
/* line 2, C:/webroot/lcsnbn/sass/modules/tile */
.content-boxes__wrapper {
    padding: 0; 
    margin-top: 1rem; 
    /*@media only screen and (max-width: 480px) {*/

}

.content-boxes__wrapper .columns {
    padding: 0; 
    
    @media #{$medium-up} {
        padding-left: 0.1rem;
        padding-right: 0.1rem; 
    } 
}

/*.content-boxes__wrapper .row .row {
    margin: 0 0.5rem;
}*/

/*.row .collapse .menu__recipes {
    @media #{$small-only} {
        margin-bottom: 0.1rem;
    }
    @media #{$medium-up} {
        margin-bottom: -1rem;
    } 
}*/

#recipe__row{
    @media #{$small-only} {
        margin-bottom: 0.1rem;
    }
    @media #{$medium-up} {
        margin-bottom: -1rem;
    }  
}

/* line 16, C:/webroot/lcsnbn/sass/modules/tile */
.content-box {
    background: $background;
    /* border: solid 1px #e0e0e0; */
    /* padding-bottom: 30px; */
    /* margin-bottom: 0.5rem; */
    /* padding-left: 0px; */
    /* padding-right: 0px; */
    height: 5rem;
    // margin-bottom: 0.25rem;
    text-align: center;
    padding: 1.3rem;
    font-size: 1.5rem;
    color: #fff;
    border-bottom: solid 1px $grey_border;
    @media #{$medium-up} {
        margin-bottom: 0rem;
    }
}

.content-box:hover{
    background: $contrast_light;
    border-bottom: solid 2px #3ecdc4;
    border-top: solid 2px #3ecdc4;

}


// @media only screen and (min-width:1351px) {
//   .content-box {
//     margin-bottom: 1rem; } }
// @media only screen and (min-width:481px) {
//   .content-box {
//     margin-bottom: 0.2rem; } }
/* line 35, C:/webroot/lcsnbn/sass/modules/tile */
.content-box .row {
  position: relative; }
  @media only screen and (min-width:481px) {
    .content-box .row {
      position: static; } }

.content-box__copy--wrapper{
  // position: static;
}

/* line 75, C:/webroot/lcsnbn/sass/modules/tile */
.content-box__copy {
    position: relative;
    height: 100%; 
    border-top:1px solid #e0e0e0;
    @media #{$medium-up} {
        display: none;
    }
}

/* line 79, C:/webroot/lcsnbn/sass/modules/tile */
.content-box__copy__inner {
  display: block;
  padding: 0.5rem 0.75rem; 
}

/* line 83, C:/webroot/lcsnbn/sass/modules/tile */
.content-box__copy__inner--recipe {
  display: block;
  padding: 0.5rem 0.75rem 3rem; }

/* line 87, C:/webroot/lcsnbn/sass/modules/tile */
.content-box__copy__inner--homepage {
  padding: 0.5rem 0.75rem 0rem;
  border-bottom: 0; }

.tile__title{
    position: static;

}

.tile__title--inner{
  @media #{$small-only} {
      display: none;
  }
  @media #{$medium-up} {
      position: absolute;
      text-align: center;
      top: 0rem;
      left: 0.1rem;
      right: 0.1rem;
      bottom: 0.2rem;
      /*background-color: #e0e0e0;*/
      /*opacity: 0.5;*/
      color: transparent;
      font-size: 22px;
      padding-top: 1rem;
  }
}

.tile__title--inner:hover{
    @media #{$small-only} {
        display: none;
    }
    @media #{$medium-up} {
        background-color: $main_light;
        opacity: 0.8;
        color: $white;
    }
}

/* line 93, C:/webroot/lcsnbn/sass/modules/tile */
.content-box__title {
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.4;
  font-weight: bold;
  color: $text;
  border-top: 0; }
  @media only screen and (min-width:481px) {
    .content-box__title {
      height: 1.8em;
      line-height: 1.4;
      padding-bottom: 3.2rem; } }
  @media only screen and (min-width:768px) {
    .content-box__title {
      height: 1.5em;
      line-height: 1.2; } }
  @media only screen and (min-width:961px) {
    .content-box__title {
      height: 1.7em; } }
  @media only screen and (min-width:1351px) {
    .content-box__title {
      height: 1.5em;
      font-size: 0.95rem; } }

/* line 118, C:/webroot/lcsnbn/sass/modules/tile */
.content-box--homepage {
  display: block;
  height: 8rem;
  overflow: hidden; }
  @media only screen and (min-width:481px) {
    .content-box--homepage {
      height: auto; } }
  /* line 127, C:/webroot/lcsnbn/sass/modules/tile */
  .content-box--homepage .content-box__image {
    width: 100%;
    height: 100%; }
    @media only screen and (min-width:481px) {
      .content-box--homepage .content-box__image {
        height: 0;
        padding-top: 100%; } }

.content-box__title--homepage {
  font-size: 1rem;
  line-height: 1.4;
  // color: #fff;
  border-radius: 5px 0 0 5px;
  position: absolute;
  font-weight: bold;
  background-color: #73cb4d;
  right: 0rem;
  top: 1rem;
  padding: 0.3rem; }
  @media only screen and (min-width:481px) {
    .content-box__title--homepage {
      position: static;
      padding: 0.5rem;
      line-height: 1.4;
      font-size: 1.2rem;
      background: white;
      // color: $main_dark;
      // color: #fff;
      height: auto; } }
  @media only screen and (min-width:768px) {
    .content-box__title--homepage {
      line-height: 1.4;
      font-size: 1rem; } 
}

/* line 173, C:/webroot/lcsnbn/sass/modules/tile */
.content-box__summary {
  color: $text;
  font-size: 0.8rem; }
  @media only screen and (min-width:481px) {
    .content-box__summary {
      display: none; } }

/* line 181, C:/webroot/lcsnbn/sass/modules/tile */
.content-box__summary--display {
  color: $text;
  font-size: 0.8rem;
  font-style: italic;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  float: right; }

/* line 190, C:/webroot/lcsnbn/sass/modules/tile */
.content-box__tag {
  position: absolute;
  right: 0.8rem;
  bottom: 0.6rem;
  padding: 0.1rem 0.3rem;
  border: 1px solid $contrast_light;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  line-height: 1.5;
  color: $text; }

/* line 202, C:/webroot/lcsnbn/sass/modules/tile */
.content-box__tag:hover {
  color: #fff;
  border: 1px solid $contrast_dark;
  background-color: $contrast_dark; }